alias v="nvim"
alias zsh="nvim ~/.zshrc"
alias szsh="source ~/.zshrc"
alias l="exa --long --icons --sort=type"
alias la="exa --long --all --icons --sort=type"
alias lt="exa --tree --long --sort=type"
