alias v="nvim"
alias zsh="nvim ~/.zshrc"
alias szsh="source ~/.zshrc"
alias ll="exa --long --all --icons --sort=type"
alias lt="exa --tree --long --icons --sort=type"

# clockify-clockify
alias clin="clockify-cli in"
alias clout="clockify-cli out"
alias clr="clockify-cli report -S"
alias clo="clockify-cli clone"

